VITE_SERVER_URI=http://localhost:3000/api/v1
VITE_WS_URI=http://localhost:3000
VITE_FIREBASE_API_KEY=< YOUR FIREBASE API KEY  >
VITE_FIREBASE_AUTH_DOMAIN=< YOUR FIREBASE AUTH DOMAIN  >
VITE_FIREBASE_PROJECT_ID=< YOUR FIREBASE PROJECT ID  >
VITE_FIREBASE_STORAGE_BUCKET=< YOUR FIREBASE STORAGE BUCKET  >
VITE_FIREBASE_MESSAGING_SENDER_ID=< YOUR FIREBASE MESSAGING SENDER  >
VITE_FIREBASE_APP_ID=< YOUR FIREBASE APP ID  >