.app-container {
    width: min(95%, 60rem);
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

// * Styles for React Player video element
.video-bubble video {
    object-fit: fill;
}