.chat-body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 6rem calc(100vh - 6rem - 6rem - 6rem) 6rem;

    .messages {
        width: 100%;
        height: 100%;
        overflow: hidden auto;
        display: flex;
        flex-direction: column-reverse;
    }
}