.local-chat {
    display: grid !important;
    grid-template-columns: 5.7rem 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: 0 1rem;

    &-profile-image {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        justify-content: center;
    }

    &-name, &-lastmessage {
        grid-column: 2 / 3;
    }

    &-time {
        grid-row: 2 / 3;
    }
}