@use '../../assets/sass/abstracts/' as *; 

.video-call-grid {
    grid-template-rows: calc(100vh - 6rem) 4rem;

    @supports(height: 100dvh) {
        grid-template-rows: calc(100dvh - 6rem) 4rem;
    }

    background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.5)), url(../../assets/call-bg.jpg);

    .players-grid {
        height: calc(100% - 1rem);
        margin-top: 1rem;
        position: relative;
        width: min(90%, 950px);
        margin-inline: auto;

        display: grid;
        z-index: 1;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &.group-call:not(.only-stream) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            grid-template-rows: initial;
            // grid-auto-rows: 15rem;
            gap: 1rem;

            @media screen and (min-width: 550px) {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }

            @include respond(lg-phone) {
                grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
                grid-auto-rows: 30rem;
                place-content: center;
            }
            
            @include respond(tab-port) {
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            }
        }
    }

    .player {
        overflow: hidden;

        video {
            object-fit: cover;
        }
    }

    .players-grid .player:not(.own-stream) {
        z-index: -1;
        border-radius: 1.5rem;
    }

    .players-grid:not(.group-call) .player:not(own-stream) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    .players-grid:where(.only-stream, .group-call) .player.own-stream {
        border-radius: 1.5rem;
    }

    .players-grid:not(.only-stream, .group-call) .player.own-stream {
        border-radius: 0 1.5rem 0 1.5rem;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 40%;
        height: 20rem;

        @include respond(tab-port) {
            width: 35%;
        }
    }
}