@use '../../assets/sass/abstracts/' as *;

.local-chat-header {
    display: flex;
    align-items: center;
    gap: calc(16 * 0.2vw);

    &-info {
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: repeat(2, min-content);
        align-items: center;
        gap: 0 1rem;
        z-index: 1;

        &-profile-image {
            grid-row: 1 / -1;
        }

        &-status {
            justify-self: start;
        }
    }

    &-dropdown::after {
        content: '';
        position: absolute;
        inset: -1rem -0.5rem;
    }
}

.profile-modal {
    &-cta {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 1rem;
        justify-content: center;

        button {
            flex: 1;
            min-width: 15rem;
            max-width: 35rem;
        }
    }
}