@use '../../assets/sass/abstracts/' as *;

.local-chat-header {
    display: flex;
    align-items: center;

    &-info {
        margin-left: calc(16 * 0.2vw);
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: repeat(2, min-content);
        align-items: center;
        gap: 0 1rem;
        z-index: 1;

        &-name,
        &-status {
            transition: 0.25s;
        }

        &-profile-image {
            grid-row: 1 / -1;
        }

        &-name {
            grid-row: 1 / -1;
        }

        &.user-online &-name {
            grid-row: unset;
        }

        &-status {
            justify-self: start;
        }
    }

    &-dropdown {
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            inset: -1.5rem -0.5rem;
            z-index: -1;
        }
    }
}

.profile-modal {
    &-cta {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 1rem;
        justify-content: center;

        button {
            flex: 1;
            min-width: 15rem;
            max-width: 35rem;
        }
    }
}